[project]
	description = Here is the source of Apex, Nova, Holo, ADW, Go Launcher blank icon pack template
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Lo Huot (Lozone)
[access "refs/for/refs/*"]
	read = group user/Lo Huot (Lozone)
	push = group user/Lo Huot (Lozone)
	label-Code-Review = -2..+2 group user/Lo Huot (Lozone)
	label-Verified = -1..+1 group user/Lo Huot (Lozone)
	rebase = group user/Lo Huot (Lozone)
	removeReviewer = group user/Lo Huot (Lozone)
	submit = group user/Lo Huot (Lozone)
[access "refs/heads/*"]
	read = group user/Lo Huot (Lozone)
	create = group user/Lo Huot (Lozone)
	push = +force group user/Lo Huot (Lozone)
	pushMerge = group user/Lo Huot (Lozone)
[access "refs/tags/*"]
	push = +force group user/Lo Huot (Lozone)
	pushTag = group user/Lo Huot (Lozone)
	pushSignedTag = group user/Lo Huot (Lozone)
